<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>
        home page
      </title>
  </head>
  <body>
    {{>header}}
    <h2>{{screamIt welcomeMessage}}</h2>
    <h2>welcome {{name}}</h2>
    <p>your likings <br> {{likes}} </p>
    {{>footer}}
  </body>
</html>
