<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>
        potfolio
      </title>
  </head>
  <body>
  {{>header}}
    <p>something about u</p>
  {{> footer}}
  </body>
</html>
